<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @episode.show %>
</p>

<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @episode.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<p>
  <strong>Show notes:</strong>
  <%= @episode.show_notes %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @episode.published_at %>
</p>

<p>
  <strong>Audio file url:</strong>
  <%= @episode.audio_file_url %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
